*{
    margin: 0px;
    padding: 0px;
}
.section .container .row .col-6 h1 {
    font-size:65px ;
    font-family:sans-serif ;
    font-weight: 400;
}
.section .container .row .col-6 .btn {
    padding: 11px 17px 11px 17px;
    border-radius: 25px;
    background-color:#E9672B ;
    color: #000; 
}
.con .row .col h1 {
    margin-left: 400px;
}
.section1 {
    margin-top:30px ;
}
.section2 {
    margin-top: 200px;
}
.section2 .container .row .col h2{
    font-size: 38px;
    font-weight: 400;
    font-family: sans-serif;
}
.section2 .container .row .col h6{
    font-size: 20px;
    font-family:sans-serif ;
    font-weight: 400;
}
.section3 {
    margin-top: 150px;
}
.section3 .container .row .col-6 h2 {
    font-size: 40px;
    font-family:sans-serif ;
    font-weight: 400;
}
.section3 .container .row .col-6 span{
    color: #E9672B;
}
.section4 {
    margin-top: 150px;
}
.section4 .container .row .col-6 span {
    color: #E9672B;
}
.section4 .container .row .col-6 h2 {
    font-size: 40px;
    font-family:sans-serif ;
    font-weight: 400;
}
.section5 {
    margin-top: 100px;
}
.section5 .container .row .col-6 h2 {
    font-size: 40px;
    font-family:sans-serif ;
    font-weight: 400;
}
.section5 .container .row .col-6 span{
    color: #E9672B;
}
.section6 {
    margin-top: 100px;
}
.section6 .container .row .col-6 h2 {
    font-size: 40px;
    font-family:sans-serif ;
    font-weight: 400;
}
.section6 .container .row .col-6 span{
    color: #E9672B;
}
.section7 {
    margin-bottom: 250px;
}
.section7 .container .row .col-2 span {
    color:#E9672B;
}
.section7 .container .row .col-12 span{
 color: #E9672B;
}
.container1 {
    margin-top: 250px;
}

.section8 .container .row .col-3 {
    background-color: #E9672B;
    padding: 100px 50px 65px 50px ;
}

.section8 .container .row .col {
    background-color: #E9672B;
    padding: 5px 1px 5px 5px ;
}

.section8 .container .row  .btn {
    padding: 10px 15px 10px 15px ;
    background-color: aliceblue;
    border-radius: 35px;
    color: #E9672B;
}
.fox {
    margin-top: 100px;
}
.fox .container .row .col-2 .card .card-body svg   {
    color: rgb(24, 194, 236);
}
.fox .container .row .col-2 .card .card-body svg:nth-child(2)   {
    color: rgba(246, 250, 0, 0.952);
}
.fox .container .row .col-2 .card .card-body svg:nth-child(3)   {
    color: rgba(71, 250, 0, 0.952);
}
.fox .container .row .col-2 .card .card-body svg:nth-child(4)   {
    color: rgba(250, 162, 0, 0.952);
}
.fox .container .row .col-2 .card .card-body svg:nth-child(5)   {
    color: rgba(250, 0, 175, 0.952);
}
.section-8 {
    background-color: #F6CFCA;
    margin-top: 80px;
    padding: 80px 70px 80px 70px;
}
.section-8 .container .row .col h1 {
    font-size: 90px;
    font-family:sans-serif;
    font-weight: 400;
    padding-top: 50px;
}
.section9 {
    margin-top: 80px;
}
.section9 .container .btn {
    padding:12px 18px 12px 18px;
    background-color: #E9672B;
    color: #000;
    border-radius: 50px;
}
.footer {
    margin-top: 150px;
}
.footer .container {
    border: 1px solid #000;
    padding: 40px 30px 40px 30px ;
    justify-content: flex-end;
}